# Sistema operativo
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/
*.swp
*.swo

# Dependencias
node_modules/
vendor/

# Archivos de construcción
dist/
build/

# Archivos de entorno
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log* 
Fases/Fase 1/_Características específicas requeridas para el proyecto ( justificando que la IDEA de negocio da respuesta a las demandas que hemos sacado del DAFO)..pdf
